<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/">
            <i class="material-icons">navigate_before</i> Voltar
        </a>
      </nav>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15925.017269908203!2d-38.5517956!3d-3.7547168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa3f8302cb161c3d3!2sStudioTech%20Inform%C3%A1tica!5e0!3m2!1spt-BR!2sbr!4v1567909294205!5m2!1spt-BR!2sbr" width="100%" height="600px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>       
