<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/">
            <i class="material-icons">navigate_before</i> Voltar
        </a>
      </nav>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

