/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

.left{
    float: left;
}
.right{
    float: right;
}
.default {
    width: 100%;
}
.background{
    
}