<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
        <i class="material-icons">navigate_before</i> Voltar
    </a>
</nav>
<div class="container">
<div class="container text-center">
    <br>
    <img src="http://studiotech.com.br/images/globo_studiotech.png" alt="">
    <br>
    <h2>Novo Chamado</h2>
    <p class="text-center">Preencha o formulário para Abrir seu Chamado.</p>
</div>
<form formGroup="formChamado">
    <div class="form-group">
      <label for="">E-mail</label>
      <input type="text" formControlName="email" class="form-control" id="" placeholder="Seu Email">
    </div>
    <div class="form-group">
      <label for="">Nome</label>
      <input type="text" formControlName="nome" class="form-control" id="" placeholder="Seu nome">
    </div>
    <div class="form-group">
      <label for="">Título</label>
      <input type="text" formControlName="titulo" class="form-control" id="" placeholder="Problema no Computador, Impressora, Monitor...">
    </div>
    <div class="form-group">
      <label for="">Telefone</label>
      <input type="text" formControlName="telefone" class="form-control" id="" placeholder="(00) 00000.0000">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Descrição do Problema e do Equipamento</label>
      <textarea formControlName="descricao" placeholder="Descreva aqui o problema e as especificações do equipamento..." name="descricao" class="form-control" id="" cols="30" rows="10"></textarea>
    </div>  
    <div class="form-group">
      <div class="left">
        <button (click)="abrirChamado()" class="btn btn-primary">Registrar</button>
      </div>
      <div class="right">
        <button routerLink="/" class="btn btn-warning">Cancelar</button>
        </div>
    </div>
  </form>
</div>