<div class="container background">
    <div class="container text-center">
        <br>
        <img src="http://studiotech.com.br/images/globo_studiotech.png" alt="">
        <br><br>
        <h3>StudioTech Informática</h3>
        <br>
        <img src="assets/images/avatar.png" width="150px" alt="">
        <h5>Sistema de Chamados</h5>
        <br>
    </div>
    <div class="row d-block d-sm-none">
        <div class="col-md-4 offset-md-4 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    <button routerLink="/chamados" class="default btn btn-primary ">
                        <i class="material-icons">forum</i>
                        <br>
                        Abrir <br>  Chamado
                    </button>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <button routerLink="/lista-chamados" class="default btn btn-primary ">
                        <i class="material-icons">menu</i>
                        <br>
                        Chamados <br> Abertos
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-6">
                    <button routerLink="/localizacao" class="default btn btn-primary ">
                        <i class="material-icons">public</i>
                        <br>
                        Como Chegar na StudioTech
                    </button>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <button routerLink="/telefones" class="default btn btn-primary ">
                        <i class="fa fa-phone" style="font-size:28px"></i>
                        <br>
                        Telefones <br> Úteis
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-none d-sm-block ">
        <div class="col-md-4 offset-md-4 col-xs-12">
            <button routerLink="/chamados" class="default btn btn-primary ">Abrir Chamado</button>
            <br><br>
            <button routerLink="/chamados" class="default btn btn-primary ">Chamados Abertos</button>
            <br><br>
            <button routerLink="/chamados" class="default btn btn-primary ">Como Chegar na StudioTech</button>
            <br><br>
            <button routerLink="/chamados" class="default btn btn-primary ">Telefones Úteis</button>
        </div>
    </div>
</div>