<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
        <i class="material-icons">navigate_before</i> Voltar
    </a>
</nav>
<div class="container">  
    <div class="row text-center">
        <h3>
            StudioTech - Soluções em Informática
            
            <br><br>
            (85) 3099.0799 
            <br><br>
            (85) 98505.1007
        </h3>
    </div>  
</div>